html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__videos {
  position: relative;
  height: 90vh;
  border-radius: 20px;
  overflow: scroll;
  width: 366px;
  /* width: 600px; */
  max-width: 500px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.app__videos::-webkit-scrollbar {
  display: none;
}
